@include media($nav-width) {
  .usa-header-basic .usa-navbar {
    width: 35%;
  }

  .usa-logo-text {
      font-size: 3.5rem;
  }

}

.usa-hero {
  background-image: url(../../images/home-hero.jpg);
}
